.about-list {
    margin: 0%;
    padding: 0%;
    display: flex;
  }
  .about-title {
    margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--tytle-text-color);
  }
  .about-text {
    margin: 0%;
  }
  .section-title {
    margin: 0%;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--tytle-text-color);
  }
  .about-item {
    margin-right: 30px;
  }
  .about-list :last-child {
    margin-right: 0%;
  }
  
  .icon{
  background-color: var(--fill-space-color);
  padding: 25px 100px 15px;
  margin-bottom: 30px;
  }
  .icon-about{
    height: 70px;
    width: 70px;
  }
  